.main-section{
    padding-top: 20px;
    width: 97.5%;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    box-shadow: 1px 4px 15px 3px rgba(138, 17, 128, 0.5);
    height: 50vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 252, 244, 0.274);
}
#home .home-bg-img{
    width: 50%;
    height: 100%;
    background-image: url("/home-images/bg-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .home-bg-img .home-shoe {
    width: 120%;
    height: 100%;
    background-image: url("/home-images/bg4-img.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.main-section .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
}
.main-section .social-icons ul {
    list-style: none;
    display: inline-block;
    width: 3%;
    margin-right: 100%;
}
.main-section .social-icons ul li {
    font-size: 1.2rem;
    color: black;
}
.main-section .social-icons ul li a{
    text-decoration: none;
    color: black;
    margin: auto;
}
.main-section .social-icons ul li a:hover{
    cursor: pointer;
    color: rgb(211, 46, 197);
    transition: 0.4s;
}
.main-section .social-icons ul li a:active{
    color: rgb(163, 34, 152);
    transition: 0.4s;
}

#home .home-content{
    width: 50%;
    height: 15vw;
    display: flex;
    padding: 7.5rem;
}
#home .home-content .content{
    width: 50%;
    height: 80%;
    margin: auto;
}
#home .home-content .content h1{
    display: inline-block;
    font-size: 6rem;
    color: rgb(211, 46, 197);
    font-family: Mynerve, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(to right, #e837ff, #7337ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-content .content h1 span{
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
}
#home .home-content .content-para{
    display: inline-block;
    text-justify: auto;
}

.main-section .home-content button{
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 9rem;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #e837ff, #7337ff);
    padding: 0.75rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.875);
}
.main-section .home-content button:hover{
    color: white;
    box-shadow: 0  1px 5px rgb(202, 44, 189, 0.8);
    transition: 0.2s;
}

.main-section .home-content button a{
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.94);
}
.main-section .home-content button a:hover{
    font-size: 0.93rem;
    color: white;
    transition: 0.4s ease-in-out;
    transform: translateX(0.2rem);
}
.main-section .home-content button i{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2px;
}
.main-section .home-content button:hover i{
    transform: translateX(0.35rem);
    transition: 0.3s;
}
