main .login {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .login .left{
    width: 55%;
    height: 90vh;
}
main .login .left .img{
    width:100%;
    height: 100%;
    background-image: url("/login-images/img1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
main .login .left .img h2 {
    height: 16vh;
    width: 49%;
    display: inline-block;
    font-size: 6rem;
    font-family: Mynerve, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    background: linear-gradient(to right, #7337ff, #e837ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30% 0 30% 5%;
    box-shadow: 1px 1px 10px 1px #7337ffb0;
    border-radius: 1rem;
}
main .login .left .img h2:hover {
    box-shadow: 1px 1px 12px 4px #7337ff7e;
    background: linear-gradient(20deg, #7337ff, #e837ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}

main .login .left .img .social-icons {
    width: 25%;
    font-size: 1.8rem;
    color: rgb(226, 208, 43);
}
main .login .left .img .social-icons ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 0 0 25%;
}
main .login .left .img .social-icons ul li a{
    text-decoration: none;
    color: rgb(25, 0, 255);
    
}
main .login .left .img .social-icons ul li:hover a i{
    transform: scale(1.1);
    color: rgb(139, 139, 139);
    transition: 0.3s;
}
main .login .left .img .social-icons ul li:active a i{
    transform: scale(1);
    color: rgb(39, 39, 39);

}

main .login .right{
    width: 53%;
    height: 100%;
    background-color: rgb(49, 161, 128);
}