* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior:smooth
}
header > .side-bar {
    position: absolute;
    left: 2.5%;
    top: 25%;
    width: 4.5rem;
    height: 28rem;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0px 5px rgb(15, 154, 209, 0.9);
    border-radius: 2.5rem;
}
header > .side-bar:hover{
    box-shadow: 0 0 7.5px rgb(15, 154, 209, 0.9);
    transition: 0.2s;
}

.side-bar ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.side-bar ul li a {
    width: 4rem;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.side-bar ul li{
    font-size: 1.6rem;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar ul li a:hover{
    box-shadow: 0 1px 5px rgb(15, 154, 209);
    transition: 0.25s;
}
.side-bar ul li a:active{
    box-shadow: 0 1px 5px rgb(15, 154, 209);
    transition: 0.25s;
    background-color: rgb(161, 38, 209);
}
.side-bar ul li a{
    text-decoration: none;
    color: rgb(161, 38, 209);
}
.side-bar ul li a:active{
    color: rgb(255, 255, 255);
    transition: 0.1s;
}