* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

header > .side-bar {
    position: fixed;
    left: 2.5%;
    top: 25%;
    width: 4.5%;
    height: 52.5%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0px 5px rgb(15, 154, 209);
    border-radius: 80px;
}
header > .side-bar:hover{
    box-shadow: 0 0 7.5px rgb(15, 154, 209);
    transition: 0.2s;
}

.side-bar ul{
    list-style: none;
    width: 100%;
    height: 14%;
}
.side-bar ul li{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 25% 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-bar ul li:hover{
    box-shadow: 0 1px 5px rgb(15, 154, 209);
    transition: 0.25s;
}
.side-bar ul li:active{
    box-shadow: 0 1px 5px rgb(15, 154, 209);
    transition: 0.25s;
    background-color: rgb(161, 38, 209);
}
.side-bar ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(161, 38, 209);
}
.side-bar ul li a:active{
    color: rgb(255, 255, 255);
    transition: 0.1s;
}
.side-bar ul li a i{
    font-size: 1.6rem;
}