* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

::selection {
    background-color: #7337ff;
    color:  white;
}

:root {
    --purple: #7337ff;
    --pink: #7337ff;
    --white: rgba(240, 240, 240, 0.952);
}