* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}


/* the styling about home section is started here */

/* .main-section{
    padding-top: 20px;
    width: 97.5%;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    box-shadow: 1px 4px 15px 3px rgba(138, 17, 128, 0.5);
    height: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 252, 244, 0.274);
}
#home .home-bg-img{
    width: 45%;
    height: 100%;
    background-image: url("/home-images/bg-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .home-bg-img .home-shoe {
    width: 120%;
    height: 100%;
    background-image: url("/home-images/bg4-img.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.main-section ul {
    list-style: none;
    display: inline-block;
    width: 3%;
}
.main-section ul li {
    font-size: 1.2rem;
    color: black;
}
.main-section ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin: auto;
}
.main-section ul li a:hover{
    font-size: 1.025rem;
    color: rgb(211, 46, 197);
    transition: 0.4s;
}

#home .home-content{
    width: 50%;
    height: 15vw;
}
#home .home-content .content{
    width: 50%;
    height: 80%;
    margin: auto;
}
#home .home-content .content h1{
    display: inline-block;
    font-size: 4rem;
    color: rgb(211, 46, 197);
}
#home .home-content .content h1 span{
    font-size: 3.2rem;
}
#home .home-content .content-para{
    display: inline-block;
    text-justify: auto;
}

.main-section .home-content button{
    position: absolute;
    bottom: 10%;
    left: 12%;
    width: 7%;
    border: none;
    border-radius: 40px;
    background-color: rgb(189, 38, 209);
    padding: 12px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.875);
}
.main-section .home-content button:hover{
    color: white;
    box-shadow: 0  0.5px 5px rgb(202, 44, 189);
    box-shadow: 0  2px 7.5px rgba(167, 1, 153, 0.6); 
    transition: 0.2s;
}

.main-section .home-content button a{
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.94);
}
.main-section .home-content button a:hover{
    font-size: 0.9015rem;
    color: white;
    transition: 0.3s;
}
.main-section .home-content button i{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2px;
}

 */


/* navbar */

/* 
header{
    width: 100%;
    height: 100vw;
}

header nav {
    width: 100%;
    height: 3.5vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 10px rgba(138, 17, 128);
}
header nav .logo-name {
    color: rgb(211, 46, 197);
}
header nav .logo-name h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}
header nav .logo-name span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 550;
    color: rgb(132, 38, 209);
    text-decoration: 2.5px solid rgb(132, 38, 209) underline;
}

header nav ul {
    width: 45%;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 375;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin: 0 10px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}

header nav ul li a:hover{
    color: rgb(211, 46, 197);
    transition: 0.4s;
}

header nav .nav-icons {
    width: 5%;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav .nav-icons i{
    font-size: 1.25rem;
}
header nav .nav-icons i:hover{
    font-size: 1.235rem;
    color: rgb(211, 46, 197);
    transition: 0.5s ease-in-out;
} */

/* sidepanel     */
/*  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}



header > .side-bar {
    position: absolute;
    left: 2.5%;
    top: 25%;
    width: 4.5%;
    height: 52.5%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 2px 10px rgb(15, 154, 209);
    border-radius: 80px;
}

.side-bar ul{
    list-style: none;
    width: 100%;
    height: 14%;
}
.side-bar ul li{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 25% 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-bar ul li:hover{
    box-shadow: 0 2px 10px rgb(15, 154, 209);
}
.side-bar ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
 
.side-bar ul li a i{
    font-size: 1.75rem;
} */